body {
    background-color: rgb(243, 246, 248);
}


.flag {
    width: 900px;
    height: 600px;
    background-color: #fff;
    margin: 100px auto;
    position: relative;
}

.flag > .baris-satu {
    position: absolute;
    width: 90px;
    height: 600px;
    background-color: #003580;
    left: 220px;
    z-index: 1;
}

.flag > .baris-dua {
    position: absolute;
    width: 900px;
    height: 90px;
    background-color: #003580;
    top: 40%;
}

